/* 图片处理 */
.img-style {
    height : 100%;
    width  : 100%;
    display: block;
}

/* 超出显示... */
.textOverflow {
    word-break   : break-all;
    text-overflow: ellipsis;
    overflow     : hidden;
    white-space  : nowrap;
    min-width    : 0
}

/* 超出两行显示... */
.textOverflow2 {
    text-overflow     : -o-ellipsis-lastline;
    overflow          : hidden;
    text-overflow     : ellipsis;
    display           : -webkit-box;
    -webkit-line-clamp: 2;
    /*! autoprefixer: off */
    line-clamp        : 2;
    -webkit-box-orient: vertical;
    word-break        : break-all;
  }

/* 盒子居中设置 */

.f-c-w {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.f-w{
    display:flex;
}
.clearfix:after{/*伪元素是行内元素 正常浏览器清除浮动方法*/
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
}
.clearfix{
    *zoom: 1;/*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}